*.Rhistory
*.pper
.Rproj.user/42CACB5C/sdb/prop/28626AF
.Rproj.user/42CACB5C/persistent-state
.Rproj.user/42CACB5C/sdb/prop/2DF9D290
.Rproj.user/42CACB5C/sdb/prop/40609208
.Rproj.user/42CACB5C/sdb/prop/2B36FE1C
.Rproj.user/42CACB5C/sdb/prop/34A8C12F
.Rproj.user/42CACB5C/sdb/prop/67595F9C
.Rproj.user/42CACB5C/sdb/prop/769ECE11
.Rproj.user/42CACB5C/sdb/prop/840955F1
.Rproj.user/42CACB5C/sdb/prop/94617A88
.Rproj.user/42CACB5C/sdb/prop/7B6C9741
.Rproj.user/42CACB5C/sdb/prop/2ECA88E6
.Rproj.user/42CACB5C/sdb/prop/8AFDD46E
.Rproj.user/42CACB5C/sdb/prop/B118818B
.Rproj.user/42CACB5C/sdb/prop/DBFBEDF2
.Rproj.user/42CACB5C/sdb/prop/DBD27AE3
.Rproj.user/42CACB5C/sdb/prop/9F30FC01
.Rproj.user/42CACB5C/sdb/prop/DCF994F1
.Rproj.user/42CACB5C/sdb/prop/E1F3BA73
.Rproj.user/42CACB5C/sdb/prop/E483C0E8
.Rproj.user/42CACB5C/sdb/prop/ED769BDD
.Rproj.user/42CACB5C/sdb/prop/F32B850D
.Rproj.user/42CACB5C/sdb/prop/F84E9BC
.Rproj.user/42CACB5C/sdb/prop/FA5595CB
.Rproj.user/42CACB5C/sdb/s-A8EE8843/3CF80369
.Rproj.user/42CACB5C/sdb/prop/9C536A30
.Rproj.user/42CACB5C/sdb/prop/51B19739
.Rproj.user/42CACB5C/sdb/prop/87BC7A30
.Rproj.user/42CACB5C/build_options
.Rproj.user/42CACB5C/sdb/prop/E24E3594
.Rproj.user/42CACB5C/sdb/s-A8EE8843/6150C857
.Rproj.user/42CACB5C/sdb/prop/77330A9
.Rproj.user/42CACB5C/sdb/s-A8EE8843/43BD178A
.Rproj.user/42CACB5C/sdb/prop/968753EF
.Rproj.user/42CACB5C/sdb/s-A8EE8843/lock_file
.Rproj.user/42CACB5C/sdb/prop/D751E37C
.Rproj.user/42CACB5C/vcs_options
.Rproj.user/42CACB5C/sdb/prop/INDEX
.Rproj.user/42CACB5C/sdb/s-A8EE8843/ED008A05
.RData
.Rproj.user/42CACB5C/sdb/prop/EB310582
.Rproj.user/42CACB5C/sdb/prop/FBC451A7
.Rproj.user/42CACB5C/sdb/s-B5FA72E/B4719B3
.Rproj.user/42CACB5C/sdb/s-B5FA72E/3CF80369
.Rproj.user/42CACB5C/sdb/s-B5FA72E/F1AD859E
.Rproj.user/42CACB5C/sdb/s-B5FA72E/43BD178A
.Rproj.user/42CACB5C/sdb/s-B5FA72E/lock_file
.Rproj.user/42CACB5C/sdb/s-B5FA72E/ED008A05
.Rproj.user/42CACB5C/sdb/s-B5FA72E/6150C857
.Rproj.user/42CACB5C/sdb/s-56E91210/ABE29C3E
.Rproj.user/42CACB5C/sdb/s-56E91210/lock_file
.Rproj.user/42CACB5C/sdb/per/t/ABE29C3E
.readme.md.swp
*.md~
.Rproj.user
